<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Sign Up</h1>
          <h6>Register Yourself!!</h6>
        </div>
        <form [formGroup]="signUpForm" (ngSubmit)="signUp()">

          <div class="mb-3">
            <label for="exampleInputEmail" class="form-label">Email address</label>
            <input formControlName="email" type="email" class="form-control" id="exampleInputEEmailId" aria-describedby="emailHelp">
            <small *ngIf="signUpForm.controls['email'].dirty && signUpForm.hasError('required', 'email')" class="text-danger">Email is Invalid</small>
            <small *ngIf="signUpForm.controls['email'].touched && signUpForm.hasError('pattern', 'email')" class="text-danger">Email syntax is Invalid</small>
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword" class="form-label">Password</label>
            <input formControlName="password" type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small *ngIf="signUpForm.controls['password'].dirty && signUpForm.controls['password'].touched && signUpForm.hasError('required', 'password')" class="text-danger">Password is Required</small>
            <small *ngIf="signUpForm.hasError('minlength', 'password')" class="text-danger">Length must be more than 8 digits</small>
          </div>

          <div class="mb-3">
            <label for="exampleInputconfirmPassword" class="form-label">Confirm Password</label>
            <input formControlName="confirmPassword" type="password" class="form-control" id="exampleInputconfirmPassword">
            <small *ngIf="signUpForm.controls['confirmPassword'].dirty && signUpForm.hasError('required', 'confirmPassword')" class="text-danger">*Password confirmation is required</small>
            <small *ngIf="signUpForm.hasError('notmatched', 'confirmPassword')" class="text-danger">*Password does not match</small>
          </div>

          <div class="mb-3">
            <label for="exampleInputPhone" class="form-label">Mobile Number</label>
            <input formControlName="phone" type="tel" class="form-control" id="exampleInputPhone">
            <small *ngIf="signUpForm.controls['phone'].dirty && signUpForm.hasError('required', 'phone')" class="text-danger">Phone Number is Required</small>
            <small *ngIf="signUpForm.hasError('pattern', 'phone') || signUpForm.hasError('minlength', 'phone')" class="text-danger">Enter 10 digit Number</small>
          </div>  

          <button type="submit" [disabled]="signUpForm.invalid" class="btn btn-primary mb-2">Sign up</button>
        </form>
        <a style="color: #fff; margin-top: 10px" routerLink="/login">Already registered? Click to Login!!</a>
      </div>
    </div>
  </div>
</div>
